<div class="container-responsive">
    <div class="jumbotron">
        <h1 class="display-4">Hello, World!</h1>
        <p class="lead">My name is <span class="badge badge-secondary">Ravish !</span> and this is where I have all the fun !</p>

    </div>

    <div class="row main-row">
        <div class="col">
            <div class="card">
                <h5 class="card-title">Youtube</h5>
                <div class="card-body">
                    
                    <a href="https://youtube.com/c/rowdyravish" target="_blank" class="btn btn-primary">My Channel</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-title">Instagram</h5>
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-title">Twitter</h5>
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
    </div>
    
    <div class="row main-row">
        <div class="col">
            <div class="card">
                <h5 class="card-title">Youtube</h5>
                <div class="card-body">
                    This is where I discuss how to settle in Canada.
                </div>
            </div>
        </div>
    </div>


</div>